.grid-container {
    display: grid;
    grid-template-columns:  0.5fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }



  .nav {
    grid-column: 1 / 4; /* Span all three columns */
    grid-row: 1;
    padding: 10px;
  }
  
  .sidebar {
    grid-column: 1;
    grid-row: 2;
    padding: 0  0 0 20px;
  }
  
  .content {
    grid-column: 2 / 4; /* Span from column 2 to 4 (exclusive) */
    grid-row: 2;
    padding: 10px;
  }

  @media (max-width: 768px) {
       .sidebar {
      display: none; 
    }


    .content {
        grid-column: 1 / 4 ;
      }
  
  }